*{
  margin:0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-variant: small-caps;
}



body {
  background-image: url(../image/bgimage/c2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-size:16px;
}
                                      /****************************\
                                            # Navigation Bar
                                      \****************************/
/* Header Logo */
.header-logo{
  font-size:18px;
  font-weight: bold;
  color:whitesmoke;
}

  /* Navigation Bar */
  .navbar-container{
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding:15px;
      font-weight: bold;
      background-color: rgba(1, 1, 1, 0.1);
    }
  /* Naigation menu */
    li{
      list-style-type: none;
    }
    .header-links{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 50vw;
      margin-right:100px;
    }
  
  .header-links a{
    color:#4064a1 ;
  }

 
.header-links a:hover{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: all 300ms ease-in-out;
} 



                          /*******************\
                                #section 1
                          \*******************/

.main-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: wrap;
  gap:30px;
}

.main-title{
  margin-top:20px;
  text-align: center;
  font-weight: bold;
  color: #fff200;
  text-transform: uppercase;

}

/* remedies paragraph ******************************************** */

.transplant-container1 {
  margin:10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.800);
  color: black;
  text-align:justify;
  font-size:1.2rem; 
  padding:20px;
  font-weight:400;
  line-height:3;
}

                                     /****************************\
                                              @media 650px
                                      \****************************/
 @media all and (max-width:650px){
  
  .navbar-container{
    justify-content: space-between;
  }
  .header-links{
    display: none;
    position: absolute;   
    flex-direction: column;
    top:80px;
    width:calc(100%) ;
    left:50%;
    padding: 20px;
    transform: translateX(-50%);
    gap:10px;
    width:80%;
    transition: all 300ms ease-in-out;
    border-radius:10px;
    background-color:whitesmoke;
  }
  .header-showmenu{
    display:flex;
    transition: 0.5s; 
   }  
 
  .header-links a:hover{
    transition: color 200ms ease-in-out;
    color:rgb(255, 136, 154);
  }


  
/* Hamburger Menu */
.hmenu{
  display:block;
  width:20px;
  height:3px;
  background-color:white;
  border-radius:10px;
  margin-bottom:3px;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 2px; 
  cursor: pointer;
 }
 

 /* Animation in Hamburger menu */
 
 .Ahmenu :nth-child(1){
   background-color: white;
  transform: rotate(45deg);
 
 }
 
 .Ahmenu :nth-child(2){
   opacity:0;
 }
 
 .Ahmenu :nth-child(3){
   background-color: white;
   transform: rotate(-45deg);
 
 }

}

@media all and (max-width:613px) {

  body {
    background-position-x: -200px;
    background-position-y: -1px;
  }

  
}

@media all and (max-width:320px){
  .transplant-container1{
    font-size: 0.8rem;
  }
}
